:root {
    --background-color: rgb(13, 21, 32);
    --background-color-fade: rgba(13, 21, 32, 0.8);
    --text-color: #dce1e3;
    --misc-color: rgb(255, 92, 1);
    --misc-color-fade: rgba(255, 92, 1, 0.8);
    --transparent-color: rgba(255, 92, 1, 0);
    --faded-color: rgba(13, 21, 32, 0.8);
    --sand-color: rgb(212, 186, 155);
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("Background.png");
    font-family: 'space mono', monospace;
    font-size: 1.7rem;
    z-index: 1;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#bg-blur {
    z-index: 1;
    position: fixed;
    width: 130vw;
    height: 150vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#tutorial {
    z-index: 2;
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px 30px;
    border: 3px solid var(--text-color);
    border-radius: 20px;
}

#close-tutorial {
    padding: 7px 15px;
    border: none;
    border-radius: 40px;
    font-family: 'space mono', monospace;
    background-color: var(--misc-color);
    font-size: medium;
}

#close-tutorial:hover {
    background-color: var(--text-color);
}

#buster {
    top: 20%;
    left: 1%;
    width: 40vw;
    position: fixed;
    z-index: 2;
}

main {
    background-color: var(--misc-color-fade);
    width: 45vw;
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid var(--background-color);
    border-radius: 40px;
    z-index: -10;
    text-align: center;
}

.cat-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gen-lab {
    display: block;
    margin-bottom: 8px;
}

.gender-input {
    margin: 0 30px;
}

.age-input {
    margin: 10px 13px;
}

#age-lab {
    display: block;
    margin-bottom: 8px;
}

#age {
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
}

.distance-input {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meter-input, .miles-input, #result {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.meter-input, .miles-input {
    margin-left: 10px;
    margin-right: 10px;
}

.label {
    padding-bottom: 10px;
}

#distanceMeter, #distanceMiles {
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    padding: 7px;
}

#calculateMeter, #calculateMiles {
    border: none;
    border-radius: 30px;
    padding: 7px 20px;
    background-color: var(--text-color);
}

#calculateMeter:hover, #calculateMiles:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

.malevo2 {
    position: fixed;
    margin-top: 40px;
    top: 46%;
    left: 12%;
    width: 75vw;
    border-radius: 40px;
    border: 3px solid var(--background-color);
}

#men, #women {
    opacity: 0;
}

#result {
    margin-bottom: 20px;
}

#category {
    margin-top: 15px;
    border: none;
    border-radius: 40px;
    color: var(--text-color);
    padding: 5px;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1300px) {
    #buster {
        top: 30%;
    }
}

@media (max-width: 1200px) {
    #buster {
        top: 40%;
    }
    
}

@media (max-width: 1000px) {
    #buster {
        top: 50%;
    }

    main {
        width: 60%;
    }
}

@media (max-width: 900px) {
    #buster {
        top: 60%;
    }

    main {
        width: 70%;
    }
}

@media (max-width: 700px) {
    #buster {
        top: 70%;
    }

    main {
        width: 80%;
    }

    .cat-input {
        flex-direction: column;
        margin: 10px 0;
    }

    .gender-input, .age-input, .meter-input, .miles-input, #result {
        margin: 10px 0;
    }

    #category {
        margin-top: 10px;
    }
}
